@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";





/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
//@import "ui/example";

// Base Styles

body {
  border-top: 10px solid $blue;
  color: $base03;
  font-family: $sans-serif;
  font-weight: 300;
}

.alpha,
.beta,
.gamma,
.delta,
.epsilon{
  font-family: $serif;
  font-weight: 700;
}

.beta a:link,
.beta a:visited {
  color: $base03;
}

a:link {
  color: $violet;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  background-color: $base2;
  padding: .5em 0 0;
  margin-bottom: 3em;
}

  .header__group,
  .nav{
    margin-bottom: 0;
  }

.header--home {
  padding: 1.5em 0 0;
  text-align: center;
}

  .header--home .nav {
    text-align: center;
  }

.nav {
  text-align: right;
}

.post {
}

  .post__header {
    margin-bottom: 1.5em;
    border-bottom: 1px solid $base2;
  }

  .post__footer {
    text-align: center;

  }

.avatar {
  padding: 2px;
  border: 1px solid $base1;
  border-radius:500px;
  width: 150px;
  background-color: white;
}

.footer {
  background-color: $base02;
  padding: 2.5%;
  margin-top: 1.5em;

  p {
    color: $base2;
    margin-bottom: 0;
  }

  a:link,
  a:visited {
    color: $cyan;
  }
}
