<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>

<div class="grid">
        <div class="grid__item one-whole "><!--
        --><header class="header">
            <div class="grid"><!--
            --><div class="grid__item push--one-sixth one-third">
                <hgroup class="header__group">
                    <h1 class="hN beta"><a href="/">Steve Heyes <span class="delta">.co.uk</span></a></h1>
                </hgroup>
                </div><!--
              --><div class="grid__item push--one-sixth one-third">
                {% include nav.html %}
              </div>
            </div>
        </header>
    </div><!--
 --><div class="grid__item two-thirds push--one-sixth">
        {{ content }}
        <p class="milli"><a href="#">See the archive</a></p>
    </div>
</div>

{% include footer.html %}

</body>
</html>